*{box-sizing:border-box;}

body,html
{
	padding:0;
	margin:0;
	font-family: 'Lato', sans-serif;
}

.navbar
{
    margin-top: 20px;
     position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 3;
}
.navbar-default
{
	background-color: transparent;
	    border: none;
}
.navbar-default .navbar-brand
{
	color: #fde428;	
}
.navbar-brand
{
	font-size: 25px;

}
.navbar-brand span
{
	color: #d1d3d6;
	font-size:5px;
}


.navbar-default .navbar-nav>li>a
{
	color: #fff;	
}
.nav a
{
	font-size: 16px;
}
.nav img
{
	 width: 25px;
}


.header
{
	background-image: url('../img/first part/1.png'); 
	height: 100vh;
	background-size: cover; 
	position: relative;
}

.overlay
{
	height: 100vh;
	background: #001c3799;;
	position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
}
.header h1
{
	color: #fff;
	position: absolute;
	right: 25%;
	top: 36%;
}
 h3
{
	color: #fde428;
	font-size: 15px;
	border-bottom:2px solid #fde428;
	width: 100px;
	position: absolute;
	right: 25%;
	top: 58%;
}
.header img
{
	position: absolute;
	right: 20%;
	top: 50%;
	transform: translate(50%,-50%);
}


/*Constructingthe*/


.Constructingthe
{
	background: #f4f4f4;
	padding: 100px 0;
}


/*Construc*/

.Construc
{
	background: #002e5b;
	padding: 20px 0;
	position: relative;
}
.looking-fot span
{
	color: #fff;
	position: absolute;
	margin-top: 20px;
	margin-bottom: 20px;
	left: 50%;
    transform: translate(-50%);
}
.Construc button
{
    float: right;
    background: #fde428;
    color: #002e5b;
    border: none;
    border-radius: 10px;
    padding: 12px 23px;
    font-weight: bold;
}


/*Popular Services*/

.hed h1
{
	margin: 0;
	padding-top: 100px;
	margin-bottom: 30px;
}
.hed h5
{
	margin: 0;
	margin-bottom: 30px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
	padding-bottom: 100px;
}
.card {
    flex-basis: calc(33.333% - 20px);
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 10px;
    overflow: hidden;
}
.card img {
    width: 100%;
}

.card .content {
    padding: 15px;
}
.card .content h4 {
    margin: 0;
    font-size: 22px;
	margin-bottom: 10px;
	color: #002e5b;
}
.card .content p {
    margin: 0;
    font-size: 14px;
    margin-bottom: 10px;
}


/*statistics*/

.statistics
{
	background: #001c37;
	text-align: center;
	padding:80px;
}

.statistics .column p
{
	color: #fff;
	font-size: 50px;

}
.statistics .column span
{
	font-size: 20px;
	color: #b8bec8;
}


/*weBest*/

.weBest
{
	height: 50vh;
	margin-top: 50px;
	margin-bottom: 50px;
}

.content h1
{
	color:#002e5b;
	margin: 0;
	margin-bottom: 20px 
}
.content span
{
	margin-top: 20px;
	font-size: 20px;
	color: #b8bec8;
}
.content p
{
	margin-top: 45px;
}


.box-
{
	margin-top: -50px;
	position: relative;	
	background: #fff;
	height: 100%;
}
.box- .yellow
{	background: #fde428;
	height: 122%;
	width: 50%;	
	margin-left: 25%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.box- .video
{
	position: absolute;
	height: 60%;
	background: #001c37;
	z-index: 10;
	width: 400px;
    top: 30%;
    left: 15%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*author*/

#author
{
	position: relative;
	background: #001c37;
	padding-bottom: 80px;
	text-align: center;
}

.carousel-inner .item h5
{
	color: #fff;
	font-size:20px;
	line-height: 50px;
}
.carousel-inner .item h4
{
	color: #fff;
	margin: 0;
}
.carousel-inner .item span
{
	color: #fff;
	font-size: 80px;
}

/*contact-us*/

.card-2 {
    flex-basis: calc(33.333% - 20px);
    display: inline-block;
    background-color: #fff;
    margin: 10px;
    overflow: hidden;
}
.card-2  img {
	width: 100%;
	height: 200px;
}

.card-2 .content {
    padding: 15px;
}
.card-2 .content h4 {
    margin: 0;
    font-size: 22px;
	margin-bottom: 10px;
	color: #002e5b;
}
.card-2 .content .information1 p
{
color: #002e5b;
margin-top: 35px;
}


/*footer*/

.footer
{
	background:#001c37; 
}
.inside-footer
{
	padding: 10px;
}
.footer p
{
	color:#fff;
	font-size: 18px;
	display: inline-block;
	margin: 0;
}
.footer span
{
	color: #b6ab41;
}
.footer .inside-footer .glyphicon
{
	color:#fff;
	float: right;
	margin-right: 10px;
}
/* Small devices (tablets, 768px and up) */
@media(max-width: 768px)
{
/*.navbar-default
{
	display: none;
}*/
.header img
{
right: 50%;	
}
.header h3
{
right: 35%;	
}

.navbar-default .navbar-nav>li>a
{
	color: #400c0c;
    background: #f5f519;
	padding: 25px;
	width: 100vw;
}

/*content*/
.content
{
    padding-top: 100px;
}
.box
{
    background: transparent;
    top: -262%;
}
.box .img
{
	top: 11%;
    left: 0%;
    width: 100%;
}
.box .yellow
{
 height: 70%;
 margin-top: 50px
}
/*content*/
.Constructingthe
{
   background: transparent;
}
.Constructingthe img
{
	width: 95%;
	margin-top: 100px
}
.Construc
{
/* margin-top: 1250px; */
position: relative;
}
.Construc span
{
	top: 0;
}
.looking-fot
{
    padding: 7px 10px;
    text-align: center;
}
.Construc button
{
    margin-top: 75px;
    margin-right: 80px;
}

/* .cards */
.card
{
	flex-basis: calc(100% - 20px);
}
.card-2
{
	flex-basis: calc(100% - 20px);

}
.hed h5
{
	padding: 0 10px;
}
/*weBest*/
.weBest .content-
{
	margin-top: 50px;
}
.box- .yellow
{
	height: 100%;
	margin-top: 60px;
}
.box- .video
{
    width: 100%;
    top: 40%;
    left: 0%;
}
.box-
{
	margin-top: 0;
}
#author
{
	/*display: none;*/
    margin-top: 500px;
}
}
/*end*/
